[submodule "native/polytools_cdt/godot-cpp"]
	path = native/polytools_cdt/godot-cpp
	url = https://github.com/godotengine/godot-cpp.git
	branch = 4.5
[submodule "native/polytools_cdt/third_party/CDT"]
	path = native/polytools_cdt/third_party/CDT
	url = https://github.com/artem-ogre/CDT.git
